language: java

addons:
  apt:
    packages:
      - oracle-java8-installer

jdk:
  - openjdk8
  - openjdk11
  - oraclejdk8
  - oraclejdk11

install:
  - mvn install -DskipTests -Dgpg.skip -Dmaven.javadoc.skip -B -V

sudo: false
dist: trusty
